canvas{
	display: block;
	margin: 0 auto;
	margin-top: 5%;
}
.buttons {
	text-align: center;
}
.button {
	color: #fff;
	position: relative;
	display: inline-block;
	line-height: 1.2;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	padding: 0.5em 2em;
	background-color: #f00;
	border-radius: 10px;
	transition: 0.4s;
}

.button:hover{
	background-color: #00F;
}

#hide {
	position: absolute;
	left: 0;
	right: 0;
	height: 400px;
	width: 500px;
	margin: 0 auto;
	display: none;
	
	background-color: rgba(0, 0, 0, 0.5);
}

#score {
	text-align: center;
	margin-top: 15px;
}

#score span {
	padding: 0.1em 0.5em;
	background-color: #FFFC00;
}

.gOver {
	position: relative;
	top:10%;
}